<div align="center">
  <h2 >图片搜索</h2>
  <form class="form-inline">
  <div class="form-group">
    <label for="picName">名称:</label>
    <input type="text" class="form-control" id="picName" placeholder="">
  </div>
  <div class="form-group">
    <label for="picFolder">文件夹:</label>
    <input type="text" class="form-control" id="picFolder" placeholder="">
  </div>
  <div class="form-group">
    <label for="picType">类别（用途）:</label>
    <input type="text" class="form-control" id="picType" placeholder="">
  </div>
     <button type="button" class="btn btn-default" id="searchPicture">Search</button>
<div class="picLists">
 <div class="row">
  <div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">

    <div class="panel-heading">搜索列表</div>
    <table class="table table-hover" id = "picLists">
    <thead>
      <tr>
        <th>缩略图</th>
        <th>图片名称</th>
        <th>所属文件夹</th>
        <th>类别（用途）</th>
        
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
   <!--  <tr>
     <th scope = "row">1</th>
     <td>程序员</td>
     <td>1200</td>
     <td>抽象画</td>
   
     <td><button  type="button" class="addsearch btn btn-info  btn-xs" >配置</button></td>
      
      
   </tr>  -->
        <!-- <tr>
        <th scope = "row">2</th>
        <td>程序员</td>
        <td>1200</td>
        <td>抽象画</td>
               
        <td><button  type="button" class="addsearch btn btn-info  btn-xs" >配置</button></td>
        
        
              </tr>
         -->
    </tbody>
  </table>
  </div>

</div>

</div>
    
</div>